.leaflet-map-container{
    width: 700px;
    height: 800px;
    margin: 20px;
    margin-top: 30px;
    z-index: 1;
    border-radius: 15px;
}
.cards-map{
    margin: 20px;
}

.locations{
    display: flex;
    background-color: #f5ebdc;
}

